img {
  width: 100px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
  background: darkcyan;
  background-color: darkorchid;
}
.username {
  font-weight: bold;
  color: Blue;
  background-color: rgb(198, 163, 231);
  font-size: 150%;
  text-align: center;
}
.story {
  color: rgb(119, 0, 255);
  background-color: rgb(198, 163, 231);
  text-align: left;
  line-height: 120%;
  left: auto;
  display: inline;
  float: right;
}
h1 {
  color: chocolate;
  text-shadow: black;
  text-decoration-color: black;
  padding: 5px;
}

h1 span {
  background-color: darkblue;
}

.description {
  font-style: oblique;
  flex-wrap: wrap-reverse;
  text-decoration-color: rgb(141, 226, 43);
  text-shadow: currentColor;
  font-size: larger;
  text-decoration-line: underline;
  color: beige;
}

body {
  background-image: url(https://media.giphy.com/media/3oKIPaGG4PDQgQDFZe/giphy.gif);
  background-position-x: center;
  background-position-y: center;
}

.check {
  width: auto;

  color: yellow;
  padding: 20px;
  margin: 10px 5px 5px;
  border: solid;
  background-color: tomato;
  border: 25px;
  background: -moz-linear-gradient(tomato, yellow);
  columns: 3;
  column-rule-style: solid;
  column-gap: 15px;
}
.boderColor {
  background-blend-mode: color-burn;
  background: linear-gradient(rgb(3, 3, 63), rgb(178, 178, 194));
  columns: 3;
  column-rule-style: dotted;
  border-radius: 5%;
  padding: 20px;
  margin: 10px 5px 5px;
  color: aquamarine;
  column-rule-color: blueviolet;
  color: scheme 81px;
}
