img {
  width: 100px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
  background: darkcyan;
  background-color: darkorchid;
}
.username {
  font-weight: bold;
  color: Blue;
  background-color: rgb(198, 163, 231);
  font-size: 150%;
  text-align: center;
}
.story {
  color: rgb(119, 0, 255);
  background-color: rgb(198, 163, 231);
  text-align: left;
  line-height: 120%;
  left: auto;
  display: inline;
  float: right;
}
h1 {
  color: chocolate;
  text-shadow: black;
  text-decoration-color: black;
  padding: 5px;
}

h1 span {
  background-color: darkblue;
}

.description {
  font-style: oblique;
  flex-wrap: wrap-reverse;
  text-decoration-color: rgb(141, 226, 43);
  text-shadow: currentColor;
  font-size: larger;
  text-decoration-line: underline;
  color: beige;
}

body {
  background-color: rgb(28, 0, 128);
  background-image: url(../images/backgroundtry.jpg);
}

.check {
  box-sizing: border-box;
  display: inline block;
  height: 100%;
  width: auto;
  tab-size: unset;
  color: yellow;
  padding: 20px;
  margin: 10px 5px 5px;
  border: solid;
  background-color: tomato;
}
